html {
    height:100%;
}
body {
    background:linear-gradient(#DDDDDD, #FFFFFF);
    background-repeat: no-repeat;
    height:100%;
    font-family:"Lucida Sans Unicode";
}

h1 {
    color: #D52A57;
}


input {
    display: block;
}

input[type="submit"], input[type="button"] {
    display:inline-block;
    background-color:#D52A57;
    padding:8px;
    border:none;
    border-radius: 5px;
    color:white;
    font-family:"Lucida Sans Unicode";
}

/*Huvudelement*******************************/
#container {
    min-width:600px;
    max-width:1000px;
    min-height:50%;
    margin:40px auto auto auto;
    overflow:auto;
}

#header {
    min-width:600px;
    width:100%;
    min-height:150px;
}

#content {
    width:100%;
    float:right;

}

#logo {
    max-width:350px;
    float:left;
}

#main_content {
    width:70%;
    margin:10px 40px 10px 40px;
    float:right;
}

#main_content ul {
    list-style-type: none;
}

#main_content li {
    margin-top:10px;
}

#main_content h2 {
    clear:both;
    color:#D52A57;
}

#feedback {
    clear:both;
}

#footer {
    float:right;
    min-width:600px;
    width:100%;
    min-height:150px;
}

#sidebar {
    float:left;
    width:10%;
    min-width:150px;
    height:100%;

    background-color:#D52A57;
    border-radius: 15px;

    color:white;
}

#sidebar ul {
    list-style-type: none;
    padding-left: -20px;
}

#sidebar p {
    padding-left: 20px;
}
#sidebar a:link {
    color:white;
}

#sidebar a:visited {
    color:white;
}

#sidebar a:hover {
    color:#DDDDDD;
}

#sidebar h2 {
    margin-left:10px;
    font-size:20px;
}

#search {
    margin-left:60px;
    float:left;
}

#loginBox {
    float:right;
    max-width:200px;
}

.comment {
    border: 1px solid #D52A57;
    margin:5px 0 5px 0;
    border-radius: 10px;
}

.comment .commentHead {
    height:30px;
}

.comment .commentHead p {
    display:inline;
    float:left;
    margin: 0 0 30px 5px;
}

.comment .commentBody {
    min-height: 50px;
    width:100%;
    overflow: auto;
}

.comment .commentBody p {
    margin-left: 30px;
}

/*För undersökningen********************************/
#pollForm {
    border-radius: 15px; 
    width:500px;
}

.pollResults {
    clear: both;
    max-width: 440px;
    overflow: auto;
    margin-bottom:20px;
}

.resultsList {
    list-style-type: none;
    float:right;
}

.diagramImage {
    float:left;
}

.resultsList li {
    margin-top:5px;
}

.answerColor {
    width:20px;
    height:20px;
    display: inline-block;
}