html {
    height:100%;
}
body {
    background:linear-gradient(#DDDDDD, #FFFFFF);
    height:100%;
}


/*Huvudelement*******************************/
#container {
    min-width:600px;
    width:80%;
    margin:auto;
    overflow:auto;
}

#header {
    min-width:600px;
    width:100%;
    min-height:150px;
}

#content {
    width:100%;
    min-height:600px;
    float:right;
}

#main_content {
    width:70%;
}


#footer {
    float:right;
    min-width:600px;
    width:100%;
    min-height:150px;
}

#sidebar {
    float:left;
    width:10%;
    min-width:100px;
}


/*För undersökningen********************************/
#pollForm {

}

.pollResults {
    max-width: 440px;
}

.resultsList {
    list-style-type: none;
    float:right;
}

.diagramImage {
    float:left;
}

.resultsList li {
    margin-top:5px;
}

.answerColor {
    width:20px;
    height:20px;
    display: inline-block;
}